@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c2e14;
    color: #FFFFFF;
  }

  a {
    color: #99ccff;
  }

  img {
    filter: brightness(90%) contrast(110%);
  }

  /* Optional: invert only light images */
  img[src$=".png"],
  img[src$=".jpg"] {
    filter: invert(0.05); /* Tweak to taste */
  }
}

h3 {
  text-align: center;
}

.main-content {
  flex: 1;
  bottom-padding: 2.5rem;
}

figcaption {
  color:#FFFFFF;
}
@font-face {
  font-family: 'Gorton Perfected'; /* Use any name */
  src: url('../fonts/GortonPerfectedVF.ttf') format('truetype'),
       url('../fonts/GortonPerfectedVF.woff') format('woff'),
       url('../fonts/GortonPerfectedVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Apply it to the body or other elements */
body {
  font-family: 'Gorton Perfected', Helvetica, Arial, sans-serif;
}

.post-content {
  font-family: 'Gorton Perfected', !important;
}
  
.wrapper {
    max-width: -webkit-calc(800px - (20px * 2));
    max-width: calc(800px - (20px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width:-webkit-calc(800px - (10px * 2));
        max-width: calc(800px - (10px * 2));
        padding-right: 10px;
        padding-left: 10px
    }
}
